# Importing Necessary Libraries

In [1]:
import pandas as pd
df = pd.read_csv('compiled.csv')

# Removing Empty Cells

In [2]:
df.dropna(inplace = True)
df

,Date,Time,Name,Message
3,09/12/2019,1:38 pm,Joshua Mbai,"Dear Team Wajir, please feel free to reach out..."
4,09/12/2019,1:39 pm,Joshua Mbai,Please share your account.
5,12/12/2019,7:09 pm,+254 725 351772,Forgot pasward kindly assist.sahara.wajir nort...
6,12/12/2019,7:22 pm,Lilian,You deleted this message
7,12/12/2019,7:33 pm,Lilian,"Your Username is :smohamed, Reset done use def..."
...,...,...,...,...
4936,05/12/2022,9:02 am,+254 722 251705,"Lilian Osero, please advise."
4937,05/12/2022,9:04 am,Violet Mastamet DCS,open in the browser childprotection.go.ke And ...
4938,03/01/2023,11:57 am,+254 722 251705,"Hi Lillian Osero, I have two pending cases in ..."
4940,09/02/2023,4:07 pm,Violet Mastamet DCS,"Good afternoon colleagues, first and foremost,..."
4941,09/02/2023,4:08 pm,Violet Mastamet DCS,<Media omitted> Bungoma.jpg\n

# Removing rows with Irrelevant Data

## e.g < Media Ommited>

In [3]:
df.drop(df[df['Message'] == '<Media omitted>'].index,inplace= True)
df.drop(df[df['Message'] == 'This message was deleted'].index,inplace= True)
df.dropna(inplace = True)
df

,Date,Time,Name,Message
3,09/12/2019,1:38 pm,Joshua Mbai,"Dear Team Wajir, please feel free to reach out..."
4,09/12/2019,1:39 pm,Joshua Mbai,Please share your account.
5,12/12/2019,7:09 pm,+254 725 351772,Forgot pasward kindly assist.sahara.wajir nort...
6,12/12/2019,7:22 pm,Lilian,You deleted this message
7,12/12/2019,7:33 pm,Lilian,"Your Username is :smohamed, Reset done use def..."
...,...,...,...,...
4936,05/12/2022,9:02 am,+254 722 251705,"Lilian Osero, please advise."
4937,05/12/2022,9:04 am,Violet Mastamet DCS,open in the browser childprotection.go.ke And ...
4938,03/01/2023,11:57 am,+254 722 251705,"Hi Lillian Osero, I have two pending cases in ..."
4940,09/02/2023,4:07 pm,Violet Mastamet DCS,"Good afternoon colleagues, first and foremost,..."
4941,09/02/2023,4:08 pm,Violet Mastamet DCS,<Media omitted> Bungoma.jpg\n

# Removing Duplicates

In [4]:
df.drop_duplicates(subset=None, keep='first', inplace=True, ignore_index=False)
df

,Date,Time,Name,Message
3,09/12/2019,1:38 pm,Joshua Mbai,"Dear Team Wajir, please feel free to reach out..."
4,09/12/2019,1:39 pm,Joshua Mbai,Please share your account.
5,12/12/2019,7:09 pm,+254 725 351772,Forgot pasward kindly assist.sahara.wajir nort...
6,12/12/2019,7:22 pm,Lilian,You deleted this message
7,12/12/2019,7:33 pm,Lilian,"Your Username is :smohamed, Reset done use def..."
...,...,...,...,...
4936,05/12/2022,9:02 am,+254 722 251705,"Lilian Osero, please advise."
4937,05/12/2022,9:04 am,Violet Mastamet DCS,open in the browser childprotection.go.ke And ...
4938,03/01/2023,11:57 am,+254 722 251705,"Hi Lillian Osero, I have two pending cases in ..."
4940,09/02/2023,4:07 pm,Violet Mastamet DCS,"Good afternoon colleagues, first and foremost,..."
4941,09/02/2023,4:08 pm,Violet Mastamet DCS,<Media omitted> Bungoma.jpg\n

In [5]:
df.drop(df[df['Message'] == 'This message was deleted'].index,inplace= True)
df.drop(df[df['Message'] == 'You deleted this message'].index,inplace= True)

In [6]:
df

,Date,Time,Name,Message
3,09/12/2019,1:38 pm,Joshua Mbai,"Dear Team Wajir, please feel free to reach out..."
4,09/12/2019,1:39 pm,Joshua Mbai,Please share your account.
5,12/12/2019,7:09 pm,+254 725 351772,Forgot pasward kindly assist.sahara.wajir nort...
7,12/12/2019,7:33 pm,Lilian,"Your Username is :smohamed, Reset done use def..."
8,09/01/2020,9:10 am,Joshua Mbai,"Happy New Year Team CPIMS, please find attache..."
...,...,...,...,...
4936,05/12/2022,9:02 am,+254 722 251705,"Lilian Osero, please advise."
4937,05/12/2022,9:04 am,Violet Mastamet DCS,open in the browser childprotection.go.ke And ...
4938,03/01/2023,11:57 am,+254 722 251705,"Hi Lillian Osero, I have two pending cases in ..."
4940,09/02/2023,4:07 pm,Violet Mastamet DCS,"Good afternoon colleagues, first and foremost,..."
4941,09/02/2023,4:08 pm,Violet Mastamet DCS,<Media omitted> Bungoma.jpg\n

# Removing the 'Date' , 'Time' and 'Name'columns

In [7]:
df.drop(['Date'],axis = 1,inplace = True)
df.drop(['Time'],axis = 1,inplace = True)
df.drop(['Name'],axis = 1,inplace = True)
df.dropna(inplace = True)
df

                                                Message
3     Dear Team Wajir, please feel free to reach out...
4                            Please share your account.
5     Forgot pasward kindly assist.sahara.wajir nort...
7     Your Username is :smohamed, Reset done use def...
8     Happy New Year Team CPIMS, please find attache...
...                                                 ...
4936                       Lilian Osero, please advise.
4937  open in the browser childprotection.go.ke And ...
4938  Hi Lillian Osero, I have two pending cases in ...
4940  Good afternoon colleagues, first and foremost,...
4941                      <Media omitted> Bungoma.jpg\n

[4131 rows x 1 columns]

In [8]:
from cleantext import clean
df = clean(df['Message'], no_emoji=True)
df
#content = str(df)
#print(content, file=open('.txt', 'w'))

'3 dear team wajir, please feel free to reach out...\n4 please share your account.\n5 forgot pasward kindly assist.sahara.wajir nort...\n7 your username is :smohamed, reset done use def...\n8 happy new year team cpims, please find attache...\n...\n4936 lilian osero, please advise.\n4937 open in the browser childprotection.go.ke and ...\n4938 hi lillian osero, i have two pending cases in ...\n4940 good afternoon colleagues, first and foremost,...\n4941 <media omitted> bungoma.jpg\nname: message, length: 4131, dtype: object'

In [9]:
#f = open("compiled_msg.txt", "r",encoding='utf-8')
#print(df.read())

AttributeError: 'str' object has no attribute 'read'

In [10]:
import numpy as np
import nltk
import string
import random

In [11]:
f = open('virt1.txt', 'r',errors = 'ignore')
raw_doc = f.read()
raw_doc = raw_doc.lower()
nltk.download('tweet')
nltk.download('wordnet')
sent_tokens = nltk.sent_tokenize(raw_doc)
word_tokens = nltk.word_tokenize(raw_doc)

[nltk_data] Error loading tweet: Package 'tweet' not found in index
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\user\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [12]:
sent_tokens[:2]

['21/06/2017, 6:47â€¯pm - messages and calls are end-to-end encrypted.',
 'no one outside of this chat, not even whatsapp, can read or listen to them.']

In [13]:
word_tokens[:2]

['21/06/2017', ',']

# Text Preprocessing

In [16]:
lemmer = nltk.stem.WordNetLemmatizer()
#Wordnet is a semantically-oriented dictionary of English included in NLTK.
def LemtTokens(tokens):
    return [lemmer.lemmatize(token) for token in tokens]
remove_punct_dict = dict((ord(punct), None) for punct in string.punctuation)
def LemNormalize(text):
    return Lemtokens(nltk.word_tokenize(text.lower().trnaslate(remove_punct_dict)))

# Defining The Greeting Function

In [17]:
GREET_INPUTS = ("hello","hi","greetings","hey","sasa")
GREAT_RESPONSES = ["hi", "hello","sasa","hi there","hey"]
def greet(sentence):
    
    for word in sentence.split():
        if word.lower() in GREET_INPUTS:
            return random.choice(GREET_RESPONSES)

# Response Generation

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pariwise import cosine_similar

In [65]:
from cleantext import clean 
print(clean(f, no_emoji=True))

<_io.textiowrapper name='compiled_msg.txt' mode='r' encoding='utf-8'>

In [116]:
import re
 
for sentence in f.split("."):
    if not (re.search("<Media omitted>|IMG", sentence, flags=re.IGNORECASE)):
        cleaned_str = cleaned_str + sentence
 
print(cleaned_str)

AttributeError: '_io.TextIOWrapper' object has no attribute 'split'